<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Lumino - Dashboard</title>
	<link href="{{ url_for('static', filename='admin/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='admin/font-awesome.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='admin/datepicker3.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='admin/styles.css') }}" rel="stylesheet">

<!--Custom Font-->
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<!--[if lt IE 9]>
<script src="{{ url_for('static', filename='js/html5shiv.js') }}"></script>
<script src="{{ url_for('static', filename='js/respond.min.js') }}"></script>
<![endif]-->


</head>
<body>
	
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span></button>
					<a class="navbar-brand" href="#"><span></span>Admin</a>
					<ul class="nav navbar-top-links navbar-right">
						<li class="dropdown">
							<a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
								<em class="fa fa-envelope"></em><span class="label label-danger">!</span>
							</a>
							<ul class="dropdown-menu dropdown-messages">
								{% for contact in contacts %}
								<li>
									<div class="dropdown-messages-box">
										<a href="profile.html" class="pull-left">
										</a>
										<div class="message-body">
											<a href="#"><strong>{{ contact[0] }}</strong> sent you a message</a>
											<br /><small class="text-muted">{{ contact[1] }}</small>
										</div>
									</div>
								</li>
								{% endfor %}
							</ul>
						</li>
					</ul>
			</div>
		</div><!-- /.container-fluid -->
	</nav>
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			<div class="profile-userpic">
			</div>
			<div class="profile-usertitle">
				<div class="profile-usertitle-name">Users</div>
				<div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="divider"></div>
		<ul class="nav menu">
			<li class="active"><a href="/loginadmin"><em class="fa fa-dashboard">&nbsp;</em> Dashboard</a></li>
			<li><a href="/users"><em class="fa fa-user">&nbsp;</em> users</a></li>
			<li><a href="/diseaseinfo"><em class="fa fa-tint">&nbsp;</em> Diseases information</a></li>
			<li><a href="/supplement" style="
				left: -3px;
			"><em class="fa fa-medkit"></em> Supplement</a></li>
			<li>
				<a href="#" id="delete-link" style="left: -3px;">
					<em class="fa fa-trash">&nbsp;</em> Delete database
				</a>
			</li>
			
			
			
			<li><a href="/admin"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
		</ul>

	</div><!--/.sidebar-->
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">add manager</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">add manager</h1>
			</div>
		</div><!--/.row-->
        <!-- Table for Manager -->
        <div class="container">
                <h2>Managers</h2>
                <table class="table table-bordered" style="width: 900px;">
					<thead>
						<tr>
							<th>ID</th>
							<th>Email</th>
							<th>Password</th>
							<th>Action</th>
							
						</tr>
					</thead>
					<tbody>
						<!-- Loop through users data and insert dynamically -->
						{% for user in users %}
						<tr>
							<td>{{ user[0] }}</td>
							<td class="editable">{{ user[1] }}</td>
							<td class="editable">{{ user[2] }}</td>
							
							<td>
								<button class="btn btn-success saveBtn" style="display: none; width: 72px;">Save</button>
								<button class="btn btn-primary editBtn" style="width: 72px;">Edit</button>
								<form action="/deleteuser" method="post" style="display: inline;">
									<input type="hidden" name="id" value="{{ user[0] }}">
									<button class="btn btn-danger">Delete</button>
								</form>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
            </div>
            
        </div>    
        
        
    
	</div>	
	
	<script src="{{ url_for('static', filename='js/admin/jquery-1.11.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/admin/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/admin/chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/admin/chart-data.js') }}"></script>
<script src="{{ url_for('static', filename='js/admin/easypiechart.js') }}"></script>
<script src="{{ url_for('static', filename='js/admin/easypiechart-data.js') }}"></script>
<script src="{{ url_for('static', filename='js/admin/bootstrap-datepicker.js') }}"></script>
<script src="{{ url_for('static', filename='js/admin/custom.js') }}"></script>

	<script>
		window.onload = function () {
	var chart1 = document.getElementById("line-chart").getContext("2d");
	window.myLine = new Chart(chart1).Line(lineChartData, {
	responsive: true,
	scaleLineColor: "rgba(0,0,0,.2)",
	scaleGridLineColor: "rgba(0,0,0,.05)",
	scaleFontColor: "#c5c7cc"
	});
};
	</script>
<script src="{{ url_for('static', filename='js/admin/jquery-1.11.1.min.js') }}"></script>
<script>
    $(document).ready(function() {
        $("#addManagerBtn").click(function() {
            $("#addManagerForm").toggle();
        });
    });
</script>

<script>
	document.getElementById('delete-link').addEventListener('click', function(event) {
		event.preventDefault(); // Prevent the default link behavior
		showConfirmationDialog();
	});

	function showConfirmationDialog() {
		if (confirm("Are you sure you want to delete the database?")) {
			fetch('/deletedatabase', {
				method: 'GET'
			}).then(response => {
				if (response.redirected) {
					window.location.href = response.url;
				} else {
					alert("Failed to delete the database.");
				}
			}).catch(error => {
				console.error('Error:', error);
				alert("An error occurred while deleting the database.");
			});
		} else {
			alert("Action canceled.");
		}
	}
</script>
<script>
    $(document).ready(function() {
        $(document).on("click", ".editBtn", function() {
            var row = $(this).closest("tr");
            row.find("td.editable").each(function() {
                var currentText = $(this).text().trim();
                $(this).html("<input type='text' class='form-control' value='" + currentText + "'>");
            });
            $(this).text("Save").removeClass("btn-primary editBtn").addClass("btn-success saveBtn");
        });

        $(document).on("click", ".saveBtn", function() {
            var row = $(this).closest("tr");
            var id = row.find("td:eq(0)").text().trim();
            var email = row.find("td:eq(1) input").val().trim();
            var password = row.find("td:eq(2) input").val().trim();
            var nom = row.find("td:eq(3) input").val().trim();
            var prenom = row.find("td:eq(4) input").val().trim();
            var bloodtype = row.find("td:eq(5) input").val().trim();
            var wilaya = row.find("td:eq(6) input").val().trim();
            var phone = row.find("td:eq(7) input").val().trim();

            $.ajax({
                url: "/edituserdata",
                method: "POST",
                data: {
                    id: id,
                    email: email,
                    password: password,
                    nom: nom,
                    prenom: prenom,
                    bloodtype: bloodtype,
                    wilaya: wilaya,
                    phone: phone
                },
                success: function(response) {
                    if (response.status === "success") {
                        row.find("td.editable").each(function() {
                            var newValue = $(this).find("input").val().trim();
                            $(this).html(newValue);
                        });
                        $(this).text("Edit").removeClass("btn-success saveBtn").addClass("btn-primary editBtn");
                    } else {
                        alert("Error updating the record.");
                    }
                }.bind(this),
                error: function() {
                    alert("Error updating the record.");
                }
            });
        });
    });
</script>	
</body>
</html>